<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="icon" href="{{ '/assets/img/sg-logo.jpg' | relative_url }}"/>
    <meta property="og:site_name" content="UTD Student Government" />
    <meta property="og:title" content="University Budget Breakdown" />
    <meta property="og:type" content="article" />
    <meta property="article:published_time" content="article" />
    <meta property="article:modified_time" content="article" />
    <meta property="article:author" content="UT Dallas Student Government" />

    <meta
      property="og:description"
      content="{{ site.description }}"
    />
    <meta
      property="og:url"
      content="https://utdal.github.io/sg-budget-breakdown"
    />
    <meta property="og:image" content="{{ '/assets/img/sg-logo.jpg' | relative_url }}" />

    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />

    {% if page.id == '/findings' %}
      <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
      <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
      <script src="https://cdn.amcharts.com/lib/5/flow.js"></script>
      <script src="https://cdn.amcharts.com/lib/5/hierarchy.js"></script>
      <script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
      <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
      <script type="module" src="{{ '/assets/js/data.js' | relative_url }}"></script>
    {% endif %}
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
</head>